.container
	.starter-template
		h1= pagename
		p= date
		p.lead.text-primary
			| Use this document as a way to quickly start any new project.
			br
			| All you get is this text and a mostly barebones HTML document.
